name: Server

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-main:
    timeout-minutes: 360
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Dependencies
        run: |
          pip3 install aiohttp aiofiles pycryptodome pyroxy_real2 uvloop

      - name: Start Server
        run: |
          python3 main.py

      - name: Get bmg_ids.txt
        uses: actions/upload-artifact@v4
        with:
          name: bmg-ids-file
          path: bmg_ids.txt
