name: Server
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Attack
        run: |
