name: DDoSer
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-main:
    timeout-minutes: 360   # Максимум на GitHub-hosted runner (6 часов)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Attack
        run: |
          sudo apt install neofetch
          neofetch
