name: Server

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-main:
    timeout-minutes: 360
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Dependencies
        run: |
          python -m pip install aiohttp pycryptodome pyroxy_real2 uvloop

      - name: Start Server
        run: |
          python -m main.py
